<h3>Create New Question</h3>

<%= form_for @question, url: question_path do |f| %>
  <%= f.label @question.body %><br>
  <%= f.label @question.test_id %><br>

  <%= link_to "Удалить вопрос?", @question, method: :delete %>
<% end %>
