<h3>Question</h3>

<p>Body:</p>
<p><%= @question.body %></p>

<p>Test:</p>
<p><%= @question.test.title %></p>

<%= link_to "Редактировать вопрос", edit_question_path(@question) %><br>
<%= link_to "Назад", test_questions_path(@question.test) %><br>
