<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <% if @test_passage.successful? %>
    <%= t('.successful_html', percent: @test_passage.result_percent.round(2)) %>
  <% else %>
    <%= t('.unsuccessful_html', percent: @test_passage.result_percent.round(2)) %>
  <% end %>
</p>

<p><%= link_to t('.all_tests'), tests_path %></p>
