<% if resource.errors.present? %>
  <div>
    <h5><%= pluralize(resource.errors.count, 'error') %> detected:</h5>

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
