<footer class="footer" style="position: absolute; bottom: 0; width: 100%; height: 60px; line-height: 60px;">
  <div class="container">
    <small>
      <i><%= current_year %></i>
      <i>Antony</i>
      <i><%= github_url("AntonyKhalt0", "TestGuru") %></i>
      <i>Приложение для прохождения тестов</i>
      <i><%= link_to "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com", target: "_blank", rel: "nofollow noopener" %></i>
    </small>    
  </div>
</footer>
