<h3 class="text-center">ИНСТРУКЦИЯ АВТОРИЗАЦИИ ПОЛЬЗОВАТЕЛЯ</h3>
<br>
<div class="box3">
  <p>Вот краткая <strong> ИНСТРУКЦИЯ </strong>по авторизации</p>
</div>                 

<p>Добро пожаловать <%= @email %>!</p>

<p>Вы должны подтвердить ваш аккаунт, перейдя по ссылке ниже:</p>

<p><%= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>С глубочайшим уважением, всегда ваша команда разработчиков лучшего приложения для создания и прохождения тестов TestGuru :)</p>

<h4>Test Guru 2022 год</h4>
