<p>Привет <%= @resource.email %>!</p>

<p>Мы связываемся с вами, чтобы уведомить вас о том, что ваш пароль был изменен.</p>

<p>С глубочайшим уважением, всегда ваша команда разработчиков лучшего приложения для создания и прохождения тестов TestGuru :)</p>

<h4>Test Guru 2022 год</h4>
