<p>Привет <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована из-за чрезмерного количества неудачных попыток входа в систему.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать свою учетную запись:</p>

<p><%= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token) %></p>

<p>С глубочайшим уважением, всегда ваша команда разработчиков лучшего приложения для создания и прохождения тестов TestGuru :)</p>

<h4>Test Guru 2022 год</h4>
