<h3>Tests:</h3>
<table>
    <tr>
      <th>Title</th>
      <th>Level</th>
      <th>Questions count</th>
      <th colspan="3">Actions</th>
    </tr>
    <%= render @tests %>
</table>
<%= link_to "Создать test", new_admin_test_path %>
